/* Set font and background color for body*/
body {
    font-family: 'Inter';
    background-color: black;
    text-transform: capitalize;
}

/* Limit max size screen for desktop breakpoint 1920px*/
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    background-color: black;
    color: white;
}

/* Adjust store logo size*/
#img_logo {
    width: 120px;
    height: 120px;
}

/* Adjust shopping cart logo*/
#img_cart {
    width: 90px;
    height: 90px;
}

/* Navigation bar - All sizes*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    font-family: 'Inter';
    font-style: normal;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 150px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

/* Navigation items - All sizes*/
.nav-items {
    display: flex;
    gap: 4rem;
}

.nav-items li {
    display: block;
}

.nav-items a {
    text-decoration: none;
    color: black;
}

.nav-items a:hover {
    background-color: #F89C14
    ;
}

/* Navigation bar - Desktop size*/
@media screen and (min-width: 1920px) {
    .navbar {
        height: 150px;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
    }
}

/* Main page - All sizes*/
.main_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 774px;
}

.main_picture {
    width: 1470px;
    height: 662px;
    position: relative;
}

/* Main page - Desktop size*/
@media screen and (min-width: 1920px) {
    .main_page {
        height: 774px;
    }
}

/* Main picture - Desktop size*/
@media screen and (min-width: 1920px) {
    .main_picture {
        width: 1470px;
        height: 662px;
    }
}

/* Shop now button*/
#btn_shop_now {
    position: absolute;
    height: 107px;
    width: 241px;
    background-color: black;
    color: white;
    text-transform: capitalize;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

#btn_shop_now:hover {
    background-color: #F89C14;
    cursor: pointer;
}

/* Footer - All sizes*/
footer {
    display: flex;
    justify-content: space-evenly;
    gap: 10rem;
    height: 288px;
}

/* Adjust h2 font size inside footer*/
footer h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

footer p, footer li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: block;
}

footer input {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 440px;
    height: 54px;
}

footer ul {
    padding-left: 0;
}

/* Subscibre section - All sizes*/
.subscribe {
    text-align: center;
}

.btn_div {
    padding-top: 1rem;
}

/* Subscribe button*/
#btn_subs {
    text-transform: capitalize;
    width: 217px;
    height: 54px;
    background: #F89C14;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: white;
}

#btn_subs:hover {
    cursor: pointer;
    background-color: darkblue;
}

/* Copyright bar*/
.copyright_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    padding-left: 2rem;
    background-color: #6A50D2;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    height: 56px;
}

/* Social media icons*/
#img_social_media {
    width: 376px;
    height: 129px;
}

/* Adjust store logo size*/
#img_cards {
    width: 208px;
    height: 44px;
}