/* Set font and background color for body*/
body {
    font-family: 'Inter';
    background-color: black;
    text-transform: capitalize;
}

/* Limit max size screen for desktop breakpoint 1920px*/
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    background-color: black;
    color: white;
}

/* Hide Hambuerger menu simulation*/
.hamburger_simulation {
    display: none;
}

/* Adjust store logo size*/
#img_logo {
    width: 120px;
    height: 120px;
}

/* Logo - Tablet size*/
@media screen and (max-width:834px) {
    #img_logo {
        width: 100px;
        height: auto;
    }
}

/* Logo - Phone size*/
@media screen and (max-width:390px) {
    #img_logo {
        width: 80px;
        height: auto;
    }
}

/* Adjust shopping cart logo*/
#img_cart {
    width: 90px;
    height: 90px;
}

/* Shopping card - Tablet size*/
@media screen and (max-width:834px) {
    #img_cart {
        width: 70px;
        height: auto;
    }
}

/* Navigation bar - All sizes*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    font-family: 'Inter';
    font-style: normal;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 150px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

/* Simulate Hamburger menu - Phone size*/
@media screen and (max-width: 390px) {
    .hamburger_simulation{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .htz_separator1 {
        border: 3px solid black;
        width: 70px;
    }

    .htz_separator2 {
        border: 3px solid black;
        width: 70px;
    }

    .htz_separator3 {
        border: 3px solid black;
        width: 70px;
    }
}

/* Navigation items - All sizes*/
.nav-items {
    display: flex;
    gap: 4rem;
}

/* Navigation items - Phone*/
@media screen and (max-width: 390px) {
    .nav-items {
        display: none;
    }
}

.nav-items li {
    display: block;
    white-space: normal;
}

.nav-items a {
    text-decoration: none;
    color: black;
}

/* Navigation items - Tablet size*/
@media screen and (max-width: 834px) {
    .nav-items {
        align-items: center;
        flex-wrap: wrap;
        gap: 0rem;
    }

    .nav-items li {
        display: block;
        white-space: normal;
        width: 33%;
    }
}

.nav-items a:hover {
    background-color: #F89C14
    ;
}

/* Navigation bar - Desktop size*/
@media screen and (max-width: 1920px) {
    .navbar {
        height: 150px;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
    }
}

/* Navigation bar - Tablet size*/
@media screen and (max-width: 834px) {
    .navbar {
        height: 150px;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
    }
}

/* Navigation bar - Phone size*/
@media screen and (max-width: 390px) {
    .navbar {
        height: 135px;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
    }
}

/* Main page - All sizes*/
.main_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 774px;
}

/* Main page - Tablet size*/
@media screen and (max-width: 834px) {
    .main_page {
        height: 370px;
    }
}

/* Main page - phone size*/
@media screen and (max-width: 390px) {
    .main_page {
        display: none;
    }
}

.main_picture {
    width: 1470px;
    height: auto;
    position: relative;
}

/* Main page - Desktop size*/
@media screen and (min-width: 1920px) {
    .main_page {
        height: 774px;
    }
}

/* Main picture - Desktop size*/
@media screen and (min-width: 1920px) {
    .main_picture {
        width: 1470px;
        height: 662px;
    }
}

/* Main picture - Tablet size*/
@media screen and (max-width: 834px) {
    .main_picture {
        width: 95%;
        height: auto;
    }
}

/* Shop now button*/
#btn_shop_now {
    position: absolute;
    height: 107px;
    width: 241px;
    background-color: black;
    color: white;
    text-transform: capitalize;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

/* Shop now button - Tablet size*/
@media screen and (max-width: 834px) {
    #btn_shop_now {
        height:80px;
        width: 180px;
        font-size: 18px;
    }
}

/* Buttun Shop Now - All sizes*/
#btn_shop_now:hover {
    background-color: #F89C14;
    cursor: pointer;
}

/* Products - All sizes*/
.products {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding-bottom: 5rem;
}

.products h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: white;
}

.products p {
    font-style: italic;
}

/* Products - Tablet size*/
@media screen and (max-width: 834px) {
    .products {
        padding-bottom: 1rem;
    }

    .products h2 {
        font-size: 25px;
    }
}

/* Products - Phone size*/
@media screen and (max-width: 390px) {
    .products {
        display: flex;
        flex-direction: column;
    }

    .products h2 {
        font-size: 20px;
    }
}

.left-side {
    padding-left: 10rem;
    padding-right: 3rem;
}

/* Left side - Tablet size*/
@media screen and (max-width: 834px) {
    .left-side {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

/* Left side - Tablet size*/
@media screen and (max-width: 390px) {
    .left-side {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

/* Featured items */
.ft_items {
    display: flex;
    gap: 10rem;
}

/* Featured items - Tablet size*/
@media screen and (max-width: 834px) {
    .ft_items {
        gap: 5rem;
    }
}

/* Featured items - Phone size*/
@media screen and (max-width: 390px) {
    .ft_items {
        display: flex;
        flex-direction: column;
    }
}

/* Pet Collar*/
#img_pet_collar {
    width: 262px;
    height: auto;
}

/* Pet Collar - Tablet size*/
@media screen and (max-width: 834px) {
    #img_pet_collar {
        width: 130px;
        height: auto;
    }
}

/* Dog Toy*/
#img_dog_toy {
    width: 252px;
    height: auto;
}

/* Dog Toy - Tablet size*/
@media screen and (max-width: 834px) {
    #img_dog_toy {
        width: 130px;
        height: auto;
    }
}

/* Vertical Separator*/
.vertical_separator {
    border-left: 5px solid white;
    height: 700px;
}

/* Vertical separator - Tablet size*/
@media screen and (max-width: 834px) {
    .vertical_separator {
        border-left: 5px solid white;
        height: 450px;
    }
}

/* Vertical separator - Phone size*/
@media screen and (max-width: 390px) {
    .vertical_separator {
        display: none;
    }
}

.right-side {
    padding-left: 3rem;
}

/* Right ide - Tablet size*/
@media screen and (max-width: 834px) {
    .right-side {
        padding-left: 1rem;
    }
}

/* Right side - Phone size*/
@media screen and (max-width: 390px) {
    .right-side {
        flex-direction: column;
        padding-right: 0rem;
        padding-left: 0rem;
    }
}

/* Deals by pet*/
.deals_items {
    display: flex;
    align-items: baseline;
}

/* Deals by pet - Phone size*/
@media screen and (max-width: 390px) {
    .deals_items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .deals_dog {
        display: contents;
    }
    .deals_cat {
        display: contents;
    }
    .deals_fish {
        display: contents;
    }
}

/* Deals buttons*/
.deals_items button {
    width: 241px;
    height: 107px;
    background: #000000;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: white;
    text-transform: capitalize;
}

/* Deals buttons - Tablet size*/
@media screen and (max-width: 834px) {
    .deals_items button {
        width: 115px;
        height: 60px;
        font-size: 20px;
    }
}

/* Deals Dog*/
#img_deal_dog {
    width: 300px;
    height: auto;
}

/* Deals Dog - Tablet size*/
@media screen and (max-width: 834px) {
    #img_deal_dog {
        width: 150px;
        height: auto;
    }
}

/* Deals Cat*/
#img_deal_cat {
    width: 300px;
    height: auto;
}

/* Deals Cat - Tablet size*/
@media screen and (max-width: 834px) {
    #img_deal_cat {
        width: 150px;
        height: auto;
    }
}

/* Deals Fish*/
#img_deal_fish {
    width: 300px;
    height: auto;
}

/* Deals Fish - Tablet size*/
@media screen and (max-width: 834px) {
    #img_deal_fish   {
        width: 150px;
        height: auto;
    }
}

/* Footer - All sizes*/
footer {
    display: flex;
    justify-content: space-evenly;
    gap: 10rem;
    height: 288px;
}

/* Footer - Tablet size*/
@media screen and (max-width: 834px) {
    footer {
        gap: 1rem;
    }
}

/* Footer - Phone size*/
@media screen and (max-width: 390px) {
    footer {
        height: auto;
        flex-direction: column;
    }
}

/* Adjust h2 font size inside footer*/
footer h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

footer p, footer li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: block;
}

footer input {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 440px;
    height: 54px;
}

/* Footer input - Tablet size*/
@media screen and (max-width: 834px) {
    footer input {
        width: 240px;
        height: 54px;
    }
}

footer ul {
    padding-left: 0;
}

/* Subscibre section - All sizes*/
.subscribe {
    text-align: center;
}

.btn_div {
    padding-top: 1rem;
}

/* Subscribe button*/
#btn_subs {
    text-transform: capitalize;
    width: 217px;
    height: 54px;
    background: #F89C14;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: white;
}

#btn_subs:hover {
    cursor: pointer;
    background-color: darkblue;
}

/* Copyright bar*/
.copyright_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    padding-left: 2rem;
    background-color: #6A50D2;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    height: 56px;
}

/* Copyright bar - Phone size*/
@media screen and (max-width: 390px) {
    .copyright_bar{
        height: auto;
        flex-direction: column;
        padding-right: 0rem;
        padding-left: 0rem;
        padding-bottom: 1rem;
    }
}

/* Social media icons*/
#img_social_media {
    width: 376px;
    height: 129px;
}

/* Social media icons - Phone size*/
@media screen and (max-width: 390px) {
    .social_media_icons {
        text-align: center;
        padding-bottom: 1rem;
    }
}

/* Social media icons*/
@media screen and (max-width: 834px) {
    #img_social_media {
        width: 170px;
        height: auto;
    }
}

/* Adjust card size*/
#img_cards {
    width: 208px;
    height: 44px;
}